@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --grey-palette: #F6F1F1;
    --light-blue-palette: #AFD3E2;
    --blue-palette: #19A7CE;
    --dark-blue-palette: #146C94;
    --side-shadow: 5px 0px 20px rgb(174, 174, 174);
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    width: auto;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    background-color: var(--grey-palette);
    display: flex;
    justify-content: center;
}

header {
    position: absolute;
    top: 25px;
    width: 96%;
    height: 150px;
    border-radius: 20px;
    background-color: var(--dark-blue-palette);
    display: flex;
    justify-content: center;
    box-shadow: none;
    transition: 0.4s ease-in-out;
}

header:hover {
    box-shadow: 0px 0px 8px 3px rgb(163, 163, 163);
}

header h1 {
    color: white;
    line-height: 150px;
    font-size: 45px;
    font-family: 'Heebo', sans-serif;
}

.container {
    border-radius: 20px;
    background-color: white;
    height: 400px;
    width: 96%;
    position: absolute;
    top: 200px;
    box-shadow: none;
    transition: 0.4s ease-in-out;
    padding: 100px;
}

.container:hover {
    box-shadow: 0px 0px 8px 3px rgb(163, 163, 163);
}

footer {
    border-radius: 20px;
    background-color: white;
    height: 65px;
    width: 96%;
    position: absolute;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 65px;
    box-shadow: none;
    transition: 0.4s ease-in-out;
    /* border: 3px solid green; */
}

footer:hover {
    box-shadow: 0px 0px 8px 3px rgb(163, 163, 163);
}

footer p {
    font-size: 19px;
    padding: 0px 30px 0px 30px;
    color: var(--dark-blue-palette);
}

footer .portfolio_text {
    font-size: 40px;
    font-weight: 900;
    color: var(--blue-palette);
}


.contacts {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 90%;
    /* border: 3px solid green; */
}

.contacts ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: var(--dark-blue-palette);
    font-size: 20px;
}

.contacts ul a {
    text-decoration: none;
    font-size: 18px;
    color: var(--blue-palette);
    transition: 0.2s ease-in-out;
}

.contacts ul a:hover {
    font-size: 20px;
    color: var(--dark-blue-palette);
}

.map{ 
    position: absolute;
    top: 10%;
    right: 10%;
    width: 600px;
    height: 80%;
    border-radius: 20px;
    box-shadow: none;
    transition: 0.2s ease-in-out;
    /* border: 3px solid green; */
}

.map:hover{
    box-shadow: 0px 0px 5px 1px rgb(163, 163, 163);
}

.map iframe{
    width: 100%;
}